/* Variables and mixins declared here will be available in all other SCSS files */

$black: #36302e;
$white: #f5dbd3;
$transparent: transparent;
$primary-light: #9c4227;
$secondary-light: #ff9373;
$accent-light: #179c79;
